page-moviedetails {

  ion-item-divider {
    color : #488aff;
    background-color: #488aff;
  }

  .card-md h1 {
    @include font-size-map($slide-font-size);
  }


  ion-card {
    position: relative;
    text-align: center;
    border: thin solid #ebd800;
    background-size: cover;

  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 110px;
  }

  ion-card-title{
    color : white
  }

  .swiper-slide img {
    width: 85px;
    max-width: 85px;
    height: 100px;
    max-height: 100px;
  }

  .details_text{
    color: #f4f4f4;
  }

  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    @include navbar-height-map($avatar-size);
    width: auto;
  }

  .item-md ion-avatar ion-img,
  .item-md ion-avatar img {
    @include navbar-height-map($avatar-size);
    width: auto;
  }

  // @media screen and (min-width:359px) {

  //     .card-md {
  //       font-size : 18px;
  //     }
  //     .card-ios {
  //       font-size : 18px;
  //     }
  //     .button-ios {
  //       margin-top: 5px;
  //       margin-left: 30px;
  //     }
  //     .button-md {
  //       margin-top: 5px;
  //       margin-left: 20px;
  //     }
  //   }

  // @media screen and (min-width:374px) {
  //   .card-md {
  //     font-size : 22px;
  //   }
  //   .card-ios {
  //     font-size : 22px;
  //   }
  //   .button-ios {
  //     margin-top: 5px;
  //     margin-left: 30px;
  //   }

  //   .button-md {
  //     margin-top: 5px;
  //     margin-left: 20px;
  //   }

  //   }

  // @media screen and (min-width:769px) {
  //   .card-md {
  //     font-size : 40px;
  //   }
  //   .card-ios {
  //     font-size : 40px;
  //   }
  //   .bar-button-menutoggle-ios ion-icon {
  //     font-size: 300%;
  //     color: #ebd800;
  //   }

  //   .bar-button-menutoggle-md ion-icon {
  //     font-size: 300%;
  //     color: #ebd800;
  //   }

  //   .button-ios {
  //     margin-top: 10px;
  //     margin-left: 40px;
  //   }

  //   .button-md {
  //     margin-top: 10px;
  //     margin-left: 30px;
  //   }

  //   .society {
  //     margin-top: 10px;
  //   }

  //   .button-inner{
  //       font-size : 25px;
  //   }

  // }


}
