<!--
  Generated template for the MoviedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img id="logo-navbar" src="assets/imgs/TITREblanc.png">
    <ion-buttons end>
      <button ion-button id="join-button">
        Want to join us ?
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- <ion-content padding>

</ion-content> -->

<ion-content>

  <ion-card class="card-moviedetails">
    <img src="assets/imgs/EPISODE{{film?.episode_id}}.png" />
    <ion-card-content>
      <ion-card-header text-uppercase>
        EPISODE {{film?.episode_id}} :
        <br/> {{film?.title}}
      </ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Director :
              <br/> {{film?.director}}</p>
          </ion-col>
          <ion-col>
            <p>Release Date:
              <br/> {{film?.release_date}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <p class="opening_crawl">
        {{film?.opening_crawl}}
      </p>

    </ion-card-content>

    <ion-item-group>
      <ion-item-divider>characters</ion-item-divider>
      <!-- <ion-item>
        <ion-avatar item-end>
          <img src="assets/imgs/Luke_Skywalker.jpg">
        </ion-avatar>
        <p class="details_text">Luke Skywalker</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-end>
          <img src="assets/imgs/Leia_Organa.jpg">
        </ion-avatar>
        <p class="details_text">Leia Organa</p>
      </ion-item> -->

      <!-- <ion-item>  -->
      <!-- <ion-content class="card-background-page"> -->
      <ion-slides *ngIf="peoples" spaceBetween="0" slidesPerView="3.2" centeredSlides="true" pager="false">
        <ion-slide *ngFor="let people of peoples | async">
          <ion-card>
            <img src="assets/imgs/personnages/{{people.name.replace(' ','_').replace(' ','_')}}.jpg" (click)="goToDetailsPage('4')" />
          </ion-card>
          <h1 class="people_name">{{people.name}}</h1>
        </ion-slide>
      </ion-slides>

    </ion-item-group>


    <ion-item-group>
      <ion-item-divider>Planets</ion-item-divider>
      <ion-slides *ngIf="planets" effect="" spaceBetween="0" slidesPerView="3.2" centeredSlides="true" pager="false">
        <ion-slide *ngFor="let planet of planets | async">
          <ion-card>
            <img src="assets/imgs/Leia_Organa.jpg" (click)="goToDetailsPage('4')" />
          </ion-card>
          <h1 class="people_name">{{planet.name}}</h1>
        </ion-slide>
      </ion-slides>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>Starships</ion-item-divider>
      <ion-slides *ngIf="starships" effect="" spaceBetween="0" slidesPerView="3.2" centeredSlides="true" pager="false">
        <ion-slide *ngFor="let starship of starships | async">
          <ion-card>
            <img src="assets/imgs/Leia_Organa.jpg" (click)="goToDetailsPage('4')" />
          </ion-card>
          <h1 class="details_text">{{starship.name}}</h1>
        </ion-slide>
      </ion-slides>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>vehicles</ion-item-divider>
      <ion-slides *ngIf="vehicles" effect="" spaceBetween="0" slidesPerView="3.2" centeredSlides="true" pager="false">
        <ion-slide *ngFor="let vehicle of vehicles | async">
          <ion-card>
            <img src="assets/imgs/Leia_Organa.jpg" (click)="goToDetailsPage('4')" />
          </ion-card>
          <h1 class="details_text">{{vehicle.name}}</h1>
        </ion-slide>
      </ion-slides>
    </ion-item-group>


  </ion-card>

</ion-content>