<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img id="logo-navbar" src="assets/imgs/TITREblanc.png">
    <ion-buttons end>
      <button ion-button [navPush]="societyPage" id="join-button">
        Want to join us ?
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img class="poster" width="100%" height="auto" object-fit: cover center src="assets/imgs/last_jedi.jpg">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <img class="logo" width="50%" height="auto" object-fit: cover center src="assets/imgs/last_jedi_logo.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <section class="infoFilm">
          <ion-card>
            <ion-card-content>
              <p text-center class="home_hook"> More than 5 million of theather views are expected. </p>
              <p text-center class="home_hook"> Two Award nominations. </p>
              <p text-center class="home_hook"> if The Last Jedi rise at the level of The Force Awakens it will raise $248 million on opening and $2 billion worldwide!
              </p>
            </ion-card-content>
          </ion-card>
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <section>
          <h1 text-center class="home_h1">Did you knew it?</h1>
          <ion-spinner *ngIf="!(randomFacts | async)"></ion-spinner>
          <p *ngFor="let facts of randomFacts | async" text-center class="home_p"></p>
          <ion-card>
            <ion-card-content>
              <p class="home_p" text-center>{{randomFact|async}}</p>
            </ion-card-content>
          </ion-card>
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <section>
          <h1 text-center class="home_h1">News from the StarWars Family</h1>
          <ion-card>
            <ion-card-content>
              <p text-center class="home_p">Your StarWars Family is alive! Join the wookie team and benefit huge advantages in coupons and more.</p>
            </ion-card-content>
          </ion-card>
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <section>
          <h1 text-center class="home_h1">Words from StarWars Fans</h1>
          <!-- <ion-spinner *ngIf="!(word | async)"></ion-spinner> -->
          <!-- <p *ngFor="let facts of randomFacts | async" text-center class="home_p"></p> -->
          <ion-card>
            <ion-card-content>
              <p class="home_p" text-center>{{word?.text}}</p>
              <p class="home_name" text-center>{{word?.name}}</p>
            </ion-card-content>
          </ion-card>
        </section>
      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>