// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
  );

  $SWBlack:rgba(31, 31, 31, 0);
  $SWGrey:rgba(63, 63, 63,0.5);
  $SWYellow:#e2d002;
  $SWOrange:#e15021;
  @mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
  }
  
  // breakpoint variables
  $lg: 1023px;
  $md: 767px;
  $sm: 413px;
  $xs: 359px;
  // $lg: 1170px;
  // $md: 1024px;
  // $sm: 640px;
  // $xs: 480px;
  // responsive font size mixin
  @mixin font-size-map($font-size-map) {
      @each $breakpoint, $font-size in $font-size-map {
          @if $breakpoint == null {
              font-size: $font-size;
          } @else {
              @include breakpoint($breakpoint) {
                  font-size: $font-size;
              }
          }
      }
  }
  $title-font-size: (null: 60px, $lg: 40px, $md: 24px, $sm: 18px, $xs: 16px);
  $paragraph-font-size: (null: 40px, $lg: 40px, $md: 18px, $sm: 16px, $xs: 14px);
  $button-font-size: (null: 25px, $lg: 25px, $md: 18px, $sm: 14px, $xs: 14px);
  $togglemenu-font-size: (null: 40px, $lg: 25px, $md: 18px, $sm: 18px, $xs: 14px);

  $navbar-ios-height:(null: 120px, $lg: 80px, $md: 60px, $sm: 60px, $xs: 40px);
  $navbar-md-height:(null: 120px, $lg: 80px, $md: 60px, $sm: 60px, $xs: 40px);

  @mixin navbar-height-map($navbar-height-map) {
    @each $breakpoint, $nav-bar-height in $navbar-height-map {
        @if $breakpoint == null {
            height: $nav-bar-height;
        } @else {
            @include breakpoint($breakpoint) {
              height: $nav-bar-height;
            }
        }
    }
  }

  $button-height:(null: 70px, $lg: 70px, $md: 40px, $sm: 30px, $xs: 30px);
  

  @mixin button-height-map($button-height-map) {
    @each $breakpoint, $button-height in $button-height-map {
        @if $breakpoint == null {
            height: $button-height;
        } @else {
            @include breakpoint($breakpoint) {
              height: $button-height;
            }
        }
    }
  }

  $button-width:(null: 200px, $lg: 200px, $md: 150px, $sm: 150px, $xs: 140px);
  @mixin button-width-map($button-width-map) {
    @each $breakpoint, $button-width in $button-width-map {
        @if $breakpoint == null {
            width: $button-width;
        } @else {
            @include breakpoint($breakpoint) {
              width: $button-width;
            }
        }
    }
  }





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.






$background-color: $SWBlack;
$toolbar-background: $SWGrey;
$toolbar-md-text-color:$SWYellow;
$toolbar-ios-text-color:$SWYellow;
// $toolbar-md-button-color:$SWYellow;
// $toolbar-ios-button-color:$SWYellow;
// $toolbar-md-border-color	:$SWYellow;
// $toolbar-ios-border-color	:$SWYellow;
// $button-md-border-color:$SWYellow;
// $button-ios-border-color:$SWYellow;
// $button-md-border-style:solid;
// $button-ios-border-style:solid;
$menu-md-background:$SWGrey;
$menu-ios-background:$SWGrey;
$label-md-text-color:$SWYellow;
$label-ios-text-color:$SWYellow;

$card-ios-background-color:$SWGrey;
$card-md-background-color:$SWGrey;
$card-ios-header-color:$SWYellow;
$card-md-header-color:$SWYellow;
$card-md-text-color:#f4f4f4;
$card-ios-text-color:#f4f4f4;
$card-ios-title-text-color:$SWYellow;
$card-md-title-text-color:$SWYellow;

$item-md-body-text-color:#f4f4f4;
$item-ios-body-text-color:#f4f4f4;

$card-ios-box-shadow-color: rgba(167, 167, 14, 0.322);
$card-md-box-shadow-color: rgba(167, 167, 14, 0.322);

@import "ionic.theme.default";



p.home_hook {
  color: $SWOrange;
}

h1.home_h1 {
  color: $SWYellow;
}

p.home_p {
  color: #ddd;
}

#join-button{
  @include button-height-map($button-height);
  @include button-width-map($button-width);

  .button-inner{
    @include font-size-map($button-font-size);
  }
}

ion-navbar .bar-button-ios {
  @include font-size-map($togglemenu-font-size);
}
ion-navbar .bar-button-md {
  @include font-size-map($togglemenu-font-size);
}

ion-navbar #logo-navbar {
  @include button-height-map($button-height);
}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
