// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{
    background: url('../assets/imgs/back.jpeg') no-repeat center center fixed; 
    background-size: cover;
}
//.ios .ion-page.show-page ~ .nav-decor {
.ios, .md{
    .ion-page.show-page ~ .nav-decor{
        background-color: transparent !important;
        background: transparent !important;
    }
    .ion-page.show-page ~ .nav-decor{
        background-color: transparent !important;
        background: transparent !important;
    }
}

#logo-navbar {
    height: 30px;
  }
  
  #join-button {
    border: solid 2px;
    border-color: $SWYellow;
    color:$SWYellow;
  }


.card h3{
    color: $SWOrange;
}

.toolbar-title{
    @include font-size-map($toolbar-title-font-size);
  }

.toolbar ion-title{
    padding: 0 20px 1px;
}

@font-face {
    font-family: "episode-font";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Starjedi.TTF') format('truetype');
}

